body {
    font-family: 'Montserrat', sans-serif;
}
.logo {
    font-family: 'Monoton', cursive;
    color: #458AF1;
    font-size: 40px;
}
.divider {
    height: 20px;
    width: 1px;
    margin: 10px 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.829);
 }

.navbar-toggler {
    background-color:rgba(0, 0, 0, 0)
}
.dropdown-menu {
    border:0px;
}
.navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.911%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}

a {
    color: black;
}

@media (min-width: 992px) { 
    .menu-bg {
        background-color: #458AF1;
    }
    .navbar{
        float: right;
        height: 30px;
        margin-top: 20px;
    }
    .dropdown-menu {
        border:2px;
    }
    a {
        color: white;
       
    }


}

@media (min-width: 575.98px) { 
    .logo {
        font-size: 50px;
    }
 }
