.logo {
    font-family: 'Monoton', cursive;
    color: #458AF1;
    font-size: 50px;
}
.bg {
    background-color: rgb(235, 235, 235);
}
a {
    font-family: 'Montserrat', sans-serif;
}


.divider {
    height: 20px;
    width: 1px;
    margin: 10px 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.61);
 }

 @media (min-width: 992px) { 
    .menu-bg {
        background-color: #458AF1;
    }
    .navbar{
        float: right;
        height: 30px;
        margin-top: 20px;
    }
    .container {
        display: block;
    }
  }

.navbar-toggler {
    background-color: rgba(240, 248, 255, 0);
}

